<!DOCTYPE html>
<html>
<head>
    <title>ALPR Dashboard</title>
    <style>
        body {
            font-family: Arial;
            background-color: #f4f4f4;
            text-align: center;
        }
        img {
            border-radius: 8px;
        }
        .gallery img {
            width: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>

<h1>ALPR Live Dashboard</h1>

<h2>Live Camera Feed</h2>
<img src="{{ url_for('video_feed') }}" width="640">

<br><br>
<a href = "/capture">
	<button style="padding:10px 20px; font-size:16px;">
		Capture Image
	</button>
</a>

<h2>Captured Images</h2>
<div class="gallery">
    {% for image in images %}
        <img src="{{ url_for('static', filename='captured_images/' + image) }}">
    {% endfor %}
</div>

</body>
</html>
